services:
  web:
    build: .
    container_name: resume_builder_web
    command: gunicorn resumeproject.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    environment:
      - DJANGO_ALLOWED_HOSTS=0.0.0.0,127.0.0.1,localhost
    restart: always