                    <input type="text" name="address" value="{{ resume.address }}" placeholder="Address" class="input" />
                    <textarea name="projects" rows="4" placeholder="Projects" class="textarea">{{ resume.projects }}</textarea>
                    <textarea name="tech_stack" rows="4" placeholder="Tech Stack" class="textarea">{{ resume.tech_stack }}</textarea>
                    <textarea name="certifications" rows="3" placeholder="Certifications" class="textarea">{{ resume.certifications }}</textarea>
                    <textarea name="highlights" rows="3" placeholder="Highlights" class="textarea">{{ resume.highlights }}</textarea>
                    <textarea name="publication" rows="3" placeholder="Publications" class="textarea">{{ resume.publication }}</textarea>
                    <textarea name="awards" rows="3" placeholder="Awards" class="textarea">{{ resume.awards }}</textarea>
                    <textarea name="conference" rows="3" placeholder="Conferences" class="textarea">{{ resume.conference }}</textarea>

                    <input type="text" name="linkedin" value="{{ resume.linkedin }}" placeholder="LinkedIn URL" class="input" />
                    <input type="text" name="github" value="{{ resume.github }}" placeholder="GitHub URL" class="input" />

           